<div id="forms" class="page-layout simple fullwidth" fxLayout="column" fusePerfectScrollbar>

    <!-- HEADER -->
    <div class=" px-24 h-100 mat-white-bg" fxLayout="row" fxLayoutAlign="start center">
        <div fxLayout="row" style="width: 100%;justify-content: space-between">
            <div style="font-size: 32px;">Empresarias</div>
            <div style="WIDTH: 100PX;"><button style="WIDTH: 100%;" class="buttonGlod" (click)="irNuevaEmpresaria()">
                    NUEVA
                </button></div>
        </div>

    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content px-24 mat-white-bg">



        <div class="example-header">
            <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Escribe una Palabra">
            </mat-form-field>
        </div>

        <div class="example-container ">
            <mat-table #tableEmpresaria [dataSource]="dataSource" class="">
                <mat-header-row></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
               
         
                <ng-container matColumnDef="RazonSocial">
                    <mat-cell *matCellDef="let row">
                        <div>
                            {{row.RazonSocial}}
                        </div> 
                        
                        
                    </mat-cell>

                 
                </ng-container>

                <ng-container matColumnDef="Clasificacion">
                    <mat-cell *matCellDef="let row">
                        <div>
                            {{row.Clasificacion}}
                        </div> 
                        
                        
                    </mat-cell>

                 
                </ng-container>
               
                

                <ng-container matColumnDef="Zona">
                    <mat-cell *matCellDef="let row"> 
                        <!--button class="registrar" style="width: 150px;cursor: pointer" (click)="openDetalleCliente(row)">Ver Detalle</button-->
                        <div>
                            <mat-icon (click)="openDetalleCliente(row)">read_more</mat-icon>
                        </div>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="Nit">
                    <mat-cell *matCellDef="let row"> 
                        <!--button class="registrar" style="width: 150px;cursor: pointer" (click)="Pedir(row.Nit)">Pedir catalogo</button-->
                        <a (click)="Pedir(row.Nit)"
                        ><img
                            _ngcontent-ako-c25=""
                            src="assets/images/menu_book-24px.svg"
                    /></a>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="imagenEmpresaria">
                    <mat-cell *matCellDef="let row">
                        <!--img class="mr-20" src="https://www.lineadirectaec.com/lineadirectaec.com/imagenes/{{row.Nit}}.png"
                        [style.display]="viewImage ? 'block':'none'" (load)="viewImage = true" style="    width: 33px;
                        min-width: 33px;
                        height: 33px;"-->
                      <img class="avatar" *ngIf="!viewImage"
                        src="https://imagenesapp.lineadirectaec.com/assets/images/avatars/profile.jpg">
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="Contactada">
                    <mat-cell *matCellDef="let row"> 
                        <!--button class="registrar" style="width: 150px;cursor: pointer" (click)="Pedir(row.Nit)">Pedir catalogo</button-->
                        <a 
                        ><img *ngIf="!row.Contactada"
                            _ngcontent-ako-c25=""
                            src="assets/images/add_location_alt-24px.svg"
                    /></a>
                    </mat-cell>
                </ng-container>
               
            </mat-table>
            <mat-paginator [pageSizeOptions]="[100,200,500]"></mat-paginator>
        </div>
    </div>
</div>