<!-- <head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Ejemplo de Envío de Datos V-POS2 - Integración Payme</title>
    <script type="text/javascript" src=""></script>
</head>

<body>
    <div>codigo {{codigoCompra}}</div>
    <form name="f1" id="f1" action="#" method="post" class="alignet-form-vpos2" runat="server">
        <table>
            <tr>
                <td>acquirerId:</td>
                <td><input ID="acquirerId" runat="server" size="90%" value="100"></td>
            </tr>
            <tr>
                <td>idCommerce</td>
                <td><input ID="idCommerce" runat="server" size="90%" value="11356"></td>
            </tr>
            <tr>
                <td>purchaseOperationNumber</td>
                <td><input ID="purchaseOperationNumber" runat="server" value="000000046" size="90%"></td>
            </tr>
            <tr>
                <td>purchaseAmount</td>
                <td><input ID="purchaseAmount" runat="server" value="10000" size="90%"></td>
            </tr>
            <tr>
                <td>purchaseCurrencyCode</td>
                <td><input ID="purchaseCurrencyCode" value="840" runat="server" size="90%"></td>
            </tr>
            <tr>
                <td>language</td>
                <td><input ID="language" runat="server" size="90%" value="SP"></td>
            </tr>
            <tr>
                <td>shippingFirstName</td>
                <td><input ID="shippingFirstName" runat="server" size="90%" value="Eduardo"></td>
            </tr>
            <tr>
                <td>shippingLastName</td>
                <td><input ID="shippingLastName" runat="server" size="90%" value="Bastidas"></td>
            </tr>
            <tr>
                <td>shippingEmail</td>
                <td><input ID="shippingEmail" runat="server" size="90%" value="edu2@gmail.com"></td>
            </tr>
            <tr>
                <td>shippingAddress</td>
                <td><input ID="shippingAddress" runat="server" size="90%" value="Direccion ABC"></td>
            </tr>
            <tr>
                <td>shippingZIP</td>
                <td><input ID="shippingZIP" runat="server" size="90%" value="ZIP 123"></td>
            </tr>
            <tr>
                <td>shippingCity</td>
                <td><input ID="shippingCity" runat="server" size="90%" value="CITY ABC"></td>
            </tr>
            <tr>
                <td>shippingState</td>
                <td><input ID="shippingState" runat="server" size="90%" value="STATE ABC"></td>
            </tr>
            <tr>
                <td>shippingCountry</td>
                <td><input ID="shippingCountry" runat="server" size="90%" value="PE"></td>
            </tr>
            <tr>
                <td>userCommerce</td>
                <td><input ID="userCommerce" runat="server" size="90%" value="modalprueba1"></td>
            </tr>
            <tr>
                <td>userCodePayme</td>
                <td><input ID="userCodePayme" runat="server" size="90%" value="12--3072--29106"></td>
            </tr>
            <tr>
                <td>descriptionProducts</td>
                <td><input ID="descriptionProducts" runat="server" size="90%" value="Producto ABC"></td>
            </tr>
            <tr>
                <td>programmingLanguage</td>
                <td><input ID="programmingLanguage" runat="server" size="90%" value="C# .NET"></td>
            </tr>
            <tr>
                <td>purchaseVerification</td>
                <td><input ID="purchaseVerification" runat="server" size="90%" value=""></td>
            </tr>
            <tr>
                <td>reserved1</td>
                <td><input ID="reserved1" runat="server" size="90%" value="Prueba Reservado"></td>
            </tr>
            <tr>
                <td colspan="2"><input type="button"
                        onclick="javascript: AlignetVPOS2.openModal('https://integracion.alignetsac.com/')"
                        value="Comprar"></td>
            </tr>
        </table>
    </form>
</body> -->
