<!--<div *ngIf="visible" [@slideInOut]>-->
  
  
  <div style="display: block;background-color: rgba(0, 0, 0, 0.10);">
    <div>
      <p><strong>AGREGAR PUNTOS</strong></p>
    </div>
    <div class="row">
      <div class="col-xs-5">
        <label for="Nit">Nit:</label>
        <input type="text" class="form-control" id="Nit"  [(ngModel)]="Nit">
      </div>
      <div>
        <button class="btn btn-primary mr-3" style="margin-right: 10px;" (click)="BuscarNit()">Buscar</button>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-3">
        <label for="PuntosP">Puntos pedido:</label>
        <input type="text" class="form-control" id="PuntosP"  [(ngModel)]="PuntosP">
      </div>
      <div class="col-xs-3">
        <label for="PuntosR">Puntos redimidos:</label>
        <input type="text" class="form-control" id="PuntosR"  [(ngModel)]="PuntosR">
      </div>
      <div class="col-xs-3">
        <label for="PuntosE">Puntos efectivo:</label>
        <input type="text" class="form-control" id="PuntosE"  [(ngModel)]="PuntosE">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-3">
        <label for="PuntosN">Cantidad puntos nuevos:</label>
        <input type="text" class="form-control" id="PuntosN"  [(ngModel)]="PuntosN">
      </div>
      <div class="col-xs-3">
        <label for="PuntosC">Tipo Movimiento:</label>
        <select class="form-control" name="PuntosC" id="PuntosC" [(ngModel)]="PuntosC">
          <option [value]="item.Id_regla" *ngFor="let item of listaConcepto">{{item.Nombre}}</option>
        </select>
      </div>
      <div class="col-xs-3">
        <label for="SumaResta">Suma/Resta:</label>
        <select class="form-control" name="SumaResta" id="SumaResta" [(ngModel)]="SumaResta">
          <option value="+">Suma</option>
          <option value="-">Resta</option>
        </select>
      </div>
    </div>

    <div class="col-xs-3">
      <p style="color: red;font-weight: bold;">{{mensaje}}</p>
    </div>
    <br>
    <div>
      <button class="btn btn-primary mr-3" style="margin-right: 10px;" (click)="Agregar()">Agregar puntos</button>
    </div> 
  </div>
  
 
  <br>
<!--</div>-->

<div class="row"  style="background-color: rgba(0, 0, 0, 0.10);">
  <div class="row ml-3" >
    <div class="col-xs-3" style="margin-left: 20px">
      <p><strong>SUBIR MASIVO</strong></p>
    </div>
    
  </div>
  <div class="col-xs-4">
   <input type="file" style="display: inline-block;" (change)="incomingfile($event)" placeholder="Upload file" accept=".xlsx">
  </div>
  <div class="col-xs-2">
   <button class="btn btn-primary mr-3" style="margin-right: 10px;" (click)="CargarArchivo()">Subir puntos</button>
  </div>
  <div class="col-xs-3">
    <div *ngIf="mostrar" class="col-xs-3">
      <p style="color: green;font-weight: bold;">{{mensaje2}}</p>
    </div>
    <div *ngIf="!mostrar" class="col-xs-3">
      <p style="color: red;font-weight: bold;">{{mensaje2}}</p>
    </div>
  </div>
</div>
<br>

<div>
  <ag-grid-angular #agGrid style="width: 100%; height: 150px;" 
  id="myGrid" 
  class="ag-theme-balham"
  [columnDefs]="columnDefs" 
  [rowData]="rowData" 
  [context]="this" 
  (gridReady)="onGridReady($event)"
  [frameworkComponents]="frameworkComponents">
</ag-grid-angular>
</div>

<br>

<div class="row"  style="background-color: rgba(0, 0, 0, 0.10);">
  <div class="row ml-3" >
    <div class="col-xs-4" style="margin-left: 20px">
      <p><strong>FUNCION MASIVA. ANULACION Y ADICION DE PUNTOS.</strong></p>
    </div>
    
  </div>
  <div class="col-xs-4" style="display: flex;">
    <label for="PuntosC">Tipo Movimiento:</label>
    <select class="form-control" style="width: 250px;" name="PuntosC" id="PuntosC" [(ngModel)]="PuntosCC">
      <option [value]="item.Id_regla" *ngFor="let item of listaConcepto2">{{item.Nombre}}</option>
    </select>
    <button class="btn btn-primary mr-3" style="margin-left: 20px;" (click)="Procesar()">Procesar Puntos</button>

  </div>
   <div class="col-xs-2">
   </div>
   <div class="col-xs-3">
     <div *ngIf="mostrar" class="col-xs-3">
       <p style="color: green;font-weight: bold;width: 150px;">{{mensaje3}}</p>
     </div>
     <div *ngIf="!mostrar" class="col-xs-3">
       <p style="color: red;font-weight: bold;width: 150px;">{{mensaje3}}</p>
     </div>
   </div>
</div>
<br>
