<div id="forms" class="page-layout simple fullwidth" fxLayout="column" fusePerfectScrollbar>
    <!-- HEADER -->
    <div class="px-24 h-100 mat-white-bg" fxLayout="row" fxLayoutAlign="start center">
        <div fxLayout="row" style="width: 100%; justify-content: space-between;">
            <div style="font-size: 32px;">Empresarias Posibles Reingreso</div>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content px-24 mat-white-bg">
        <div class="example-header">
            <mat-form-field class="filterInput">
                <input matInput placeholder="Buscar Empresaria" aria-label="State" [formControl]="productCtrl" />
            </mat-form-field>
        </div>

        <cdk-virtual-scroll-viewport itemSize="75" maxBufferPx="600" minBufferPx="600" class="example-viewport">            
            <div *cdkVirtualFor="let item of filteredProduct | async">
                <div class="containerCard">

                    <div>
                        <div> <img class="mr-20" src="assets/images/appimages/empresarias.png" />
                        </div>
                        <div> {{ item.RazonSocial }}</div>
                    </div>
                    <div>
                        <div>
                            <mat-icon (click)="openDetalleCliente(item)">read_more</mat-icon>
                        </div>
                       <div> <a (click)="enviaWhatsapp(item)"><img _ngcontent-ako-c25=""
                                    src="assets/images/record_voice_over-24px.svg" /></a></div>
                    </div>
            </div>
        </div>
        </cdk-virtual-scroll-viewport>


    </div>
</div>

