
img{
  width: 100%;
  height: 100%;
}
.loadinggif {
  width: 165px;
  height: 69px;
  display: flex;
  justify-content: center;
}
.loaderimage{
  width: 20px;
  height: 20px;
  align-self: center;
}
