:host {
    padding: 20px;
}

.panel-list {
    width: 350px;
    margin-right: 20px;
}

.mat-list-option {
    margin: 15px;
}

.body-list {
    max-height: 400px;
    min-height: 400px;
    overflow-y: auto;
}

.list {
    max-height: 400px;
}

.field-filter {
    margin-left: 10px;
}

.input-field {
    margin: 10px;
}