<div id="forms" class="page-layout simple fullwidth" fxLayout="column" fusePerfectScrollbar>
    <div class=" px-24 h-100 mat-white-bg" fxLayout="row" fxLayoutAlign="start center">
        <div fxLayout="row" style="width: 100%;justify-content: space-between ;text-align: center">
            <div style="font-size: 32px;width: 100%">Formularios Crédito</div>
        </div>

    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content mat-white-bg">
        <!-- REACTIVE FORM EXAMPLE -->
        <ng-container *ngIf="validarSolicitud">
            <div>
                <h2 style="color: brown;text-align: center;">Su solicitud de crédito ya ha sido enviada.</h2>
            </div>
        </ng-container>
        <div fxLayout="column" fxLayoutAlign="start start" fxLayout.gt-md="row">



            <mat-tab-group mat-stretch-tabs style="width: 100vw;">
                <mat-tab label="Inscripción">
                    <app-formulario-incripcion-creditos [validarSolicitud]="validarSolicitud">
                    </app-formulario-incripcion-creditos>
                </mat-tab>
                <!-- <mat-tab label="Contrato">
                    <app-formulario-contrato></app-formulario-contrato>
                </mat-tab> -->
            </mat-tab-group>


        </div>
    </div>
</div>