<div class="dialog-content">

    <mat-toolbar matDialogTitle class=" m-0" style="background-color: #000000;color:white">
        <mat-toolbar-row>
            <span class="title dialog-title">CREDITO</span>
        </mat-toolbar-row>
    </mat-toolbar>
    <div class="containerInput">
        <mat-form-field class="my-12" fxFlex="100">
            <mat-label>Ingresa token</mat-label>
            <input matInput placeholder="Token" [(ngModel)]="tokenInput">
       </mat-form-field>
    </div>
    <div class="errorDescription">
        <span *ngIf="existeError" class="error">{{descripcionError}}</span>
    </div>
    <div class="m-0" fxLayout="row" fxLayoutAlign="end center" style="    padding: 0px 10px 10px 10px;">

        <button class="buttonAppBlack" (click)="validartoken()">
            ENVIAR TOKEN
        </button>
    </div>

</div>