<div id="forms" class="page-layout simple fullwidth" fxLayout="column" fusePerfectScrollbar>

    <!-- HEADER -->

    <div class=" px-24 h-100 mat-white-bg" fxLayout="row" fxLayoutAlign="start center">
        <div fxLayout="row" style="width: 100%;justify-content: space-between">
            <div style="font-size: 32px;">Mis Pedidos Anulados</div>
        </div>

    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content p-24 mat-white-bg">

        <div class="search-header">
            <mat-form-field class="filterInput">
                <input matInput placeholder="Buscar pedido" aria-label="State" [formControl]="productCtrl">
            </mat-form-field>
        </div>

        <cdk-virtual-scroll-viewport itemSize="75" maxBufferPx="600" minBufferPx="600" class="example-viewport">
            <div *cdkVirtualFor="let item of filteredProduct | async">
                <div class="containerCard"  (click)="openResumenPedido(item)">

                    <div class="headerCard">
                        <div>{{item?.Fecha | date: 'short'}}</div>
                        <div>Número {{item?.Numero}}</div>

                    </div>
                    <div class="headerCard">
                        <div>Nit {{item?.Nit}}</div>
                        <div> Valor {{item.Valor + item.IVA  | currency}}</div>

                    </div>
                    <div>{{item?.NombreEmpresaria}}</div>


                </div>

            </div>

        </cdk-virtual-scroll-viewport>
        
        
        
        <div class="containerCard bottomList">
            <div>
                Total Reserva
            </div>
            <div>
                {{getTotalSaldo() | currency}}
            </div>
        
        </div>

      
    </div>

</div>