:host {
    overflow-y: auto;
}

.row {
    width: 100%;
    padding-left: 20px;
    padding-top: 10px;
    clear:both;
}

.panel {
    padding: 20px;
}

.panel-heading {
    color: #F6F5F6;
    background-color: #EFD729;
}

.mat-icon {
    cursor: pointer;
}

table, .paginator {
    width: 100%;
}

.select-range, .paginator {
    float: right;
    margin-right: 15px;
}

.input-filter, .table-title {
    margin-left: 15px;
}

.form-field {
    width: 100%;
}