<div id="forms" class="page-layout simple fullwidth" fxLayout="column" fusePerfectScrollbar>

    <!-- HEADER -->

    <div class=" px-24 h-100 mat-white-bg" fxLayout="row" fxLayoutAlign="start center">
        <div fxLayout="row" style="width: 100%;justify-content: space-between">
            <div style="font-size: 32px;">Cartera x Coordinador</div>
        </div>

    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content p-24 mat-white-bg">
        <ag-grid-angular #agGrid style="width: 100%; height: 500px;" 
        id="myGrid" 
        class="ag-theme-balham"
        [columnDefs]="columnDefs" 
        [rowData]="rowData" 
        [context]="this" 
        (gridReady)="onGridReady($event)"
        [frameworkComponents]="frameworkComponents" 
         ></ag-grid-angular>
       
    </div>

   

</div>